
.logs-page[data-v-016e2d4b] { min-height: 100%;
}
.filter-card[data-v-016e2d4b] { margin-bottom: 16px;
}
.table-card[data-v-016e2d4b] { margin-top: 0;
}
.pagination[data-v-016e2d4b] { margin-top: 16px; display: flex; justify-content: flex-end;
}
