
.logs-page[data-v-f2f7bcb6] { min-height: 100%;
}
.filter-card[data-v-f2f7bcb6] { margin-bottom: 16px;
}
.table-card[data-v-f2f7bcb6] { margin-top: 0;
}
.pagination[data-v-f2f7bcb6] { margin-top: 16px; display: flex; justify-content: flex-end;
}
